h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: navy;
}


.navbar-default .navbar-brand {
	color: navy;
	font-family: 'Montserrat', sans-serif;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: green;
}

ul {
	list-style: none;
	padding-top:20px;
}

#map-canvas {
	height: 500px;
	width:500px;
}