<ul>
  {{#each user in model}}
    <li><span class="users-info"> <img {{bind-attr src=user.user.picture.thumbnail}}> NAME: {{user.user.name.first}} EMAIL: {{user.user.email}} </span><br> <br> </li>
  {{/each}}
</ul>